*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #023e8a;
}

.outer{
    display: flex;
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    margin: 20px;
    height: 30px;
    width: 300px;
    background-color: #caf0f8;
    box-shadow: 0 0 0.9rem black;
}
#container{
    background-color:#48cae4;
    height: 60vh;
    width: 500px;
    border-radius: 5%;
    box-shadow: 0 0 2rem rgb(29, 29, 29);
}
h1{
    margin-bottom: 40px;
    margin-top: 40px ;
    text-shadow: 0 0 0.5rem rgb(97, 95, 95);
}
button{
    height: 50px;
    width: 200px;
    text-decoration: underline;
    font-size: large;
    margin-top: 20px;
    background-color:#27a8d3 ;
}
#links{
    margin-top: 20px;
}
a{
    text-decoration: none;
}
#a1{
    margin-right: 260px;
}
